@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Blob Morphing Animation */
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.blob-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  width: 230px;
  height: 230px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: #BDB8B3;
  animation: morph 8s ease-in-out infinite;
}

.blob-image {
  width: 110%;
  height: 115%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49%);
}

/* Light Mode */
body {
  @apply bg-white text-black;
}

/* Dark Mode */
body.dark {
  @apply bg-[#121212] text-white;
}

body.dark .blob-container {
  border-color: white;
}

body.light .blob-container {
  border-color: black;
}

body.dark .text-gray-600 {
  @apply text-gray-400;
}

body.dark .bg-gray-200 {
  @apply bg-gray-700;
}

body.dark .bg-gray-800 {
  @apply bg-black;
}

body.dark .hover\:bg-gray-100:hover {
  @apply bg-gray-700;
}

body.dark .shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.achievements-card {
  position: relative;
  overflow: hidden;
  transition: background-position 0s ease;
}

.achievements-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(45deg,
      transparent 20%,
      transparent 40%,
      rgba(68, 68, 68, 0.2) 50%,
      rgba(200, 200, 200, 0.3) 55%,
      transparent 70%,
      transparent 100%);
  background-size: 250% 250%;
  transition: background-position 1.5s ease;
  pointer-events: none;
}

.achievements-card:hover::before {
  background-position: 200% 0;
}

dark .card-shine-effect {
  background-color: rgb(9, 9, 11);
  background-image: linear-gradient(var(--shine-deg),
      transparent 20%,
      transparent 40%,
      rgba(68, 68, 68, 0.2) 50%,
      rgba(68, 68, 68, 0.2) 55%,
      transparent 70%,
      transparent 100%);
}

/* map */
.leaflet-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.custom-popup .leaflet-popup-content {
  margin: 10px 20px;
  color: #333;
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}

/* Card Container */
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 450px;
  height: 200px;
  border-radius: 20px;
  background: linear-gradient(135deg, #f24e1e, #ff7262);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-out;
}

/* Map Background */
.map-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.2;
}